<app-page-breadcrumb [pageTitle]="'stockAdjustments.title'" />
<div class="space-y-6">
  <app-crud-list 
    [pageTitle]="'stockAdjustments.title'" 
    [searchPlaceholder]="'common.search'"
    [addBtnText]="'stockAdjustments.add'"
    [columns]="columns" 
    [data]="data" 
    [filters]="{ pageNumber: pageNumber, pageSize: pageSize, searchValue: searchValue }"
    [isLoading]="loading"
    [hideToggleStatus]="true"
    [hideEdit]="hideEditFn"
    [customActions]="customActions"
    (customAction)="onCustomAction($event)"
    (search)="loadData()"
    (add)="onAdd()"
    (view)="onView($event)"
    (pageChange)="onPageChange($event)">
  </app-crud-list>
</div>
