<app-page-breadcrumb [pageTitle]="'pages.invoiceCostElements' | translate"></app-page-breadcrumb>

<app-crud-list [pageTitle]="'pages.invoiceCostElements' | translate" [addBtnText]="translate.instant('common.addNew')"
  [columns]="columns" [data]="data" [filters]="filters" [isLoading]="loading" [includeDisabled]="includeDisabled"
  (search)="onSearch()" (pageChange)="onPageChange($event)" (includeDisabledChange)="onIncludeDisabledChanged($event)"
  (add)="onAdd()" (edit)="onEdit($event)" (view)="onView($event)" (toggleStatus)="onToggleStatus($event)">
</app-crud-list>