<app-page-breadcrumb [pageTitle]="'users.list' | translate"></app-page-breadcrumb>

<app-crud-list
  [data]="data"
  [columns]="columns"
  [isLoading]="loading"
  [filters]="filters"
  [includeDisabled]="includeDisabled"
  [pageTitle]="'users.list'"
  [addBtnText]="'users.addNew'"
  [searchPlaceholder]="'common.search'"
  [hideToggleStatus]="false"
  [customActions]="customActions"
  (search)="onSearch()"
  (pageChange)="onPageChange($event)"
  (includeDisabledChange)="onIncludeDisabledChanged($event)"
  (add)="onAdd()"
  (edit)="onEdit($event)"
  (view)="onView($event)"
  (toggleStatus)="onToggleStatus($event)"
  (customAction)="onCustomAction($event)"
></app-crud-list>

<app-reset-password-modal
  [isOpen]="isResetPasswordModalOpen"
  [user]="selectedUserForReset"
  (close)="isResetPasswordModalOpen = false"
  (success)="onResetPasswordSuccess()"
></app-reset-password-modal>
