<app-page-breadcrumb [pageTitle]="'Pages.ItemProperties.Title'" />
<div class="space-y-6">
  <app-crud-list 
    [pageTitle]="'Pages.ItemProperties.Title'" 
    [searchPlaceholder]="'Pages.ItemProperties.SearchPlaceholder'"
    [addBtnText]="'Pages.ItemProperties.Add'"
    [columns]="columns" 
    [data]="data" 
    [filters]="filters"
    [includeDisabled]="includeDisabled"
    [isLoading]="loading"
    (search)="loadData()"
    (add)="onAdd()"
    (view)="onView($event)"
    (edit)="onEdit($event)"
    (toggleStatus)="onToggleStatus($event)"
    (pageChange)="onPageChange($event)"
    (includeDisabledChange)="onIncludeDisabledChanged($event)">
  </app-crud-list>
</div>
