<app-page-breadcrumb [pageTitle]="'districts.list.title' | translate"></app-page-breadcrumb>
<div class="space-y-6">
  <app-crud-list 
    [pageTitle]="'districts.list.title'" 
    [searchPlaceholder]="'districts.searchPlaceholder'"
    [addBtnText]="'districts.addNew'"
    [columns]="columns" 
    [data]="data" 
    [filters]="filters"
    [includeDisabled]="includeDisabled"
    [isLoading]="loading"
    (search)="onSearch()"
    (add)="onAdd()"
    (view)="onView($event)"
    (edit)="onEdit($event)"
    (toggleStatus)="onToggleStatus($event)"
    (pageChange)="onPageChange($event)"
    (includeDisabledChange)="onIncludeDisabledChange($event)">
  </app-crud-list>
</div>
